{% extends "base.html" %}
{% block content %}
<div class="get">
    <div class="am-g">
        <div class="am-u-lg-12">
            <h1 class="get-title">IP详细地址定位</h1>
        </div>
        <div class="am-form-group">
            <form action="/ip" method="POST">
                <div class="am-u-sm-5 am-u-sm-offset-3">
                    <input id='search1' type="text" name="search" minchecked="3" class="am-form-field am-round"
                           placeholder="请输入IP地址"/>
                </div>
                <div class="am-u-sm-1">
                    <button id='search' type="submit" class="am-btn am-btn-primary">查询</button>
                </div>

                <div class="box">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="about">
    <div class="am-g am-container">
        <div class="am-g doc-am-g">
            <div class="am-form-group">
                {% if data %}
                <table class="am-table am-table-bordered am-table-radius">
                    <thead>
                    <tr>
                        <th>信息</th>
                        <th>内容</th>
                    </tr>
                    </thead>
                    <tbody>{% if data.province %}
                    <tr>
                        <td>省份</td>
                        <td><code>{{data.province}}</code></td>
                    </tr>
                    <tr>
                        <td>城市</td>
                        <td><code>{{data.city}}</code></td>
                    </tr>
                    <tr>
                        <td>城市范围标对(左)</td>
                        <td><code>{{data.rectangle_left}}</code></td>
                    </tr>
                    <tr>
                        <td>城市范围标对(下)</td>
                        <td><code>{{data.rectangle_down}}</code></td>
                    </tr>
                    <tr>
                        <td>城市范围标对(右)</td>
                        <td><code>{{data.rectangle_right}}</code></td>
                    </tr>
                    <tr>
                        <td>城市范围标对(上)</td>
                        <td><code>{{ data.rectangle_left }} </code></td>
                    </tr>
                    <tr>
                        <td>城市adcode</td>
                        <td><code>{{ data.adcode }} </code></td>
                    </tr>
                     {% else %}
                    <tr>
                        <td>错误</td>
                        <td><code>{{data.error}}</code></td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
                {% endif %}


                <div class="box">
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
